<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eshequ.msa.finance.mapper.custom.UnreconcilMchInfoMapper">
<select id="getUnreconcilMchInfo" resultType="hashmap">
   
   select a.*, b.sect_id, b.cust_name,b.csp_id from msa_base_mch_info a
   join msa_relate_mch_cust b on a.ID = b.mch_id
   <where>
   		true
   		<if test="mch_name!=null and mch_name!=''">and a.mch_name LIKE CONCAT(CONCAT('%',#{mch_name}),'%')</if>
   		<if test="mch_no!=null and mch_no!=''">and a.mch_no LIKE CONCAT(CONCAT('%',#{mch_no}),'%')</if>
   		<if test="pay_product!=null and pay_product!=''">and a.pay_product = #{pay_product}</if>
   		<if test="method_type!=null and method_type!=''">and a.method_type = #{method_type}</if>
   		<if test="mch_status!=null and mch_status!=''"> AND a.mch_status = #{mch_status}</if>
   		<if test="data_source!=null and data_source!=''"> AND a.data_source = #{data_source}</if>
   </where>

</select>
</mapper>