<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eshequ.msa.finance.mapper.custom.UnreconcilAcctInfoMapper">
<select id="getUnreconcilAcctInfo" resultType="hashmap">
   
   select * from msa_base_acct_info
   <where>
   		true
   		<if test="entity_name!=null and entity_name!=''">and entity_name LIKE CONCAT(CONCAT('%',#{entity_name}),'%')</if>
   		<if test="csp_name!=null and csp_name!=''">and csp_name LIKE CONCAT(CONCAT('%',#{csp_name}),'%')</if>
   		<if test="account_name!=null and account_name!=''">and account_name LIKE CONCAT(CONCAT('%',#{account_name}),'%')</if>
   		<if test="account_no!=null and account_no!=''">and account_no LIKE CONCAT(CONCAT('%',#{account_no}),'%')</if>
   		<if test="status!=null and status!=''"> AND status = #{status}</if>
   		<if test="data_source!=null and data_source!=''"> AND data_source = #{data_source}</if>
   </where>

</select>
</mapper>