<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eshequ.msa.crm.mapper.msareginfo.MsaRegInfoMapper">
	<resultMap id="BaseResultMap"
		type="com.eshequ.msa.crm.model.msareginfo.MsaRegInfo">
		<id column="REG_ENTERPRISE_ID" jdbcType="VARCHAR" property="regEnterpriseId" />
		<result column="STATUS" jdbcType="CHAR" property="status" />
		<result column="REG_DATE" jdbcType="CHAR" property="regDate" />
		<result column="REG_TIME" jdbcType="CHAR" property="regTime" />
		<result column="RANDOM_CODE" jdbcType="VARCHAR" property="randomCode" />
		<result column="LOGIN_NAME" jdbcType="VARCHAR" property="loginName" />
		<result column="ENTERPRISE_NAME" jdbcType="VARCHAR" property="enterpriseName" />
		<result column="LINK_MAN" jdbcType="VARCHAR" property="linkMan" />
		<result column="ORG_TEL" jdbcType="VARCHAR" property="orgTel" />
		<result column="EMAIL" jdbcType="VARCHAR" property="email" />
		<result column="POST_CODE" jdbcType="VARCHAR" property="postCode" />
		<result column="ORG_ADDR" jdbcType="VARCHAR" property="orgAddr" />
		<result column="REMARK" jdbcType="VARCHAR" property="remark" />
		<result column="PRODUCT_VERSION" jdbcType="CHAR" property="productVersion" />
		<result column="START_DATE" jdbcType="CHAR" property="startDate" />
		<result column="BACK_TE_NAME" jdbcType="VARCHAR" property="backTeName" />
		<result column="INDUSTRY_TYPE" jdbcType="CHAR" property="industryType" />
		<result column="PROVINCE_ID" jdbcType="BIGINT" property="provinceId" />
		<result column="PROVINCE_NAME" jdbcType="VARCHAR" property="provinceName" />
		<result column="CITY_ID" jdbcType="BIGINT" property="cityId" />
		<result column="CITY_NAME" jdbcType="VARCHAR" property="cityName" />
		<result column="ENVIRONMENT" jdbcType="VARCHAR" property="environment" />
		<result column="SECT_NUM" jdbcType="DECIMAL" property="sectNum" />
		<result column="USER_NUM" jdbcType="DECIMAL" property="userNum" />
		<result column="INVOICE_COUNT" jdbcType="DECIMAL" property="invoiceCount" />
	</resultMap>
	<select id="getMsaInfoList" parameterType="com.eshequ.msa.crm.model.msareginfo.MsaRegInfo"
		resultMap="BaseResultMap">
		SELECT
		REG_ENTERPRISE_ID,ENTERPRISE_NAME,LINK_MAN,ORG_TEL,EMAIL,BACK_TE_NAME,STATUS,REG_DATE,REG_TIME
		FROM MSA_REG_INFO
		<where>
			<if test="productVersion != null">
				and product_version=#{productVersion}
			</if>
			<if test="status != null">
				and status=#{status}
			</if>
			<if test="enterpriseName != null">
				and enterprise_name like CONCAT('%', #{enterpriseName}, '%')
			</if>
			<if test="linkMan != null">
				and link_man like CONCAT('%', #{linkMan}, '%')
			</if>
		</where>
	</select>
</mapper>