<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eshequ.msa.crm.mapper.sys.MsaCfgSysParaMapper">
  <resultMap id="BaseResultMap" type="com.eshequ.msa.crm.model.sys.MsaCfgSysPara">
    <id column="PARA_ID" jdbcType="BIGINT" property="paraId" />
    <result column="PARA_NAME" jdbcType="VARCHAR" property="paraName" />
    <result column="PARA_VALUE" jdbcType="VARCHAR" property="paraValue" />
    <result column="PARA_TYPE" jdbcType="CHAR" property="paraType" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
  </resultMap>
</mapper>