<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eshequ.msa.reconciliation.mapper.custom.UnreconcilTradeMchMapper">
<select id="getUnreconcilTradeMch" resultType="hashmap">
   
   select o.mch_no, o.secret, o.pay_channel, o.appid, o.mch_name from msa_trade_pay_order o 
   left join msa_base_check_detail cd on o.id = cd.order_id
   left join msa_base_mch_info mi on mi.mch_no = o.mch_no
   where o.tran_status = #{tranStatus}
   and o.tran_date &lt;= #{tranDate}
   and o.pay_channel = #{payChannel}
   and cd.id is null
   <![CDATA[and mch_status <> #{#mchStatus} ]]>
</select>
</mapper>