<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eshequ.msa.crm.mapper.targetcust.CrmAftersaleServiceOrderMapper">
  <resultMap id="BaseResultMap" type="com.eshequ.msa.crm.model.targetcust.CrmAftersaleServiceOrder">
    <id column="SERVICE_ORDER_ID" jdbcType="VARCHAR" property="serviceOrderId" />
    <result column="ORDER_SERVICE_DATE" jdbcType="CHAR" property="orderServiceDate" />
    <result column="DATE_FLAG" jdbcType="CHAR" property="dateFlag" />
    <result column="TIME_QUANTUM" jdbcType="VARCHAR" property="timeQuantum" />
    <result column="ORDER_SERVICE_OBJECT" jdbcType="CHAR" property="orderServiceObject" />
    <result column="ORDER_SERVICE_TYPE" jdbcType="CHAR" property="orderServiceType" />
    <result column="ORDER_SERVICE_CONTENT" jdbcType="CHAR" property="orderServiceContent" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="SP_SECT_ID" jdbcType="VARCHAR" property="spSectId" />
    <result column="LINK_ID" jdbcType="VARCHAR" property="linkId" />
    <result column="AFTER_SALE_ID" jdbcType="VARCHAR" property="afterSaleId" />
    <result column="CUST_ID" jdbcType="BIGINT" property="custId" />
  </resultMap>
</mapper>