<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eshequ.msa.crm.mapper.targetcust.CrmAftersaleServiceMapper">
  <resultMap id="BaseResultMap" type="com.eshequ.msa.crm.model.targetcust.CrmAftersaleService">
    <id column="SERVICE_ID" jdbcType="VARCHAR" property="serviceId" />
    <result column="RECORD_DATE" jdbcType="CHAR" property="recordDate" />
    <result column="RECORD_TIME" jdbcType="CHAR" property="recordTime" />
    <result column="SERVICE_DATE" jdbcType="CHAR" property="serviceDate" />
    <result column="DATE_FLAG" jdbcType="CHAR" property="dateFlag" />
    <result column="SERVICE_TIME" jdbcType="VARCHAR" property="serviceTime" />
    <result column="SERVICE_OBJECT" jdbcType="CHAR" property="serviceObject" />
    <result column="SERVICE_TYPE" jdbcType="CHAR" property="serviceType" />
    <result column="SERVICE_CONTENT" jdbcType="CHAR" property="serviceContent" />
    <result column="SERVICE_FINALLY" jdbcType="CHAR" property="serviceFinally" />
    <result column="AFTERSALE_CONTENT" jdbcType="VARCHAR" property="aftersaleContent" />
    <result column="SP_SECT_ID" jdbcType="VARCHAR" property="spSectId" />
    <result column="SYS_OPERID" jdbcType="VARCHAR" property="sysOperid" />
    <result column="SERVICE_ORDER_ID" jdbcType="VARCHAR" property="serviceOrderId" />
    <result column="CUST_ID" jdbcType="BIGINT" property="custId" />
    <result column="LINK_ID" jdbcType="VARCHAR" property="linkId" />
  </resultMap>
</mapper>