<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eshequ.msa.crm.mapper.targetcust.CrmIndustryInfoMapper">
  <resultMap id="BaseResultMap" type="com.eshequ.msa.crm.model.targetcust.CrmIndustryInfo">
    <id column="INDUSTRY_ID" jdbcType="BIGINT" property="industryId" />
    <result column="INDUSTRY_NAME" jdbcType="CHAR" property="industryName" />
  </resultMap>
</mapper>