<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eshequ.msa.crm.mapper.targetcust.CrmMarketingCustCallMapper">
  <resultMap id="BaseResultMap" type="com.eshequ.msa.crm.model.targetcust.CrmMarketingCustCall">
    <id column="CALL_ID" jdbcType="VARCHAR" property="callId" />
    <result column="CALL_DATE" jdbcType="CHAR" property="callDate" />
    <result column="CALL_TIME" jdbcType="CHAR" property="callTime" />
    <result column="CALL_CONTENT" jdbcType="VARCHAR" property="callContent" />
    <result column="SYS_OPERID" jdbcType="VARCHAR" property="sysOperid" />
    <result column="LAST_STATUS" jdbcType="CHAR" property="lastStatus" />
    <result column="CURRENT_STATUS" jdbcType="CHAR" property="currentStatus" />
    <result column="MAIL_FLG" jdbcType="CHAR" property="mailFlg" />
    <result column="PART_REASON" jdbcType="CHAR" property="partReason" />
    <result column="BUILD_TYPE" jdbcType="CHAR" property="buildType" />
    <result column="SECT_KIND" jdbcType="CHAR" property="sectKind" />
    <result column="CUST_ID" jdbcType="BIGINT" property="custId" />
    <result column="LINK_ID" jdbcType="VARCHAR" property="linkId" />
  </resultMap>
</mapper>