<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eshequ.msa.crm.mapper.targetcust.CrmMarketingCustLinkMapper">
  <resultMap id="BaseResultMap" type="com.eshequ.msa.crm.model.targetcust.CrmMarketingCustLink">
    <id column="LINK_ID" jdbcType="VARCHAR" property="linkId" />
    <result column="DEFAULT_FLAG" jdbcType="CHAR" property="defaultFlag" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="LINK_ADDR" jdbcType="VARCHAR" property="linkAddr" />
    <result column="SEX" jdbcType="CHAR" property="sex" />
    <result column="AGE" jdbcType="VARCHAR" property="age" />
    <result column="FASTEN_TEL" jdbcType="VARCHAR" property="fastenTel" />
    <result column="PHONE" jdbcType="VARCHAR" property="phone" />
    <result column="FAX" jdbcType="VARCHAR" property="fax" />
    <result column="EMAIL" jdbcType="VARCHAR" property="email" />
    <result column="POST" jdbcType="VARCHAR" property="post" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="CUST_ID" jdbcType="BIGINT" property="custId" />
  </resultMap>
</mapper>