<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eshequ.msa.crm.mapper.targetcust.CrmMarketingPreSaleRecordMapper">
  <resultMap id="BaseResultMap" type="com.eshequ.msa.crm.model.targetcust.CrmMarketingPreSaleRecord">
    <id column="RECORD_ID" jdbcType="VARCHAR" property="recordId" />
    <result column="IS_SUCCESS" jdbcType="CHAR" property="isSuccess" />
    <result column="SCHEDULESTATUS" jdbcType="CHAR" property="schedulestatus" />
    <result column="RECORD_DATE" jdbcType="CHAR" property="recordDate" />
    <result column="RECORD_TIME" jdbcType="CHAR" property="recordTime" />
    <result column="SALE_DATE" jdbcType="CHAR" property="saleDate" />
    <result column="DATE_FLAG" jdbcType="CHAR" property="dateFlag" />
    <result column="TIME_QUANTUM" jdbcType="VARCHAR" property="timeQuantum" />
    <result column="SALE_CONTENT" jdbcType="VARCHAR" property="saleContent" />
    <result column="LAST_STATUS" jdbcType="CHAR" property="lastStatus" />
    <result column="CURRENT_STATUS" jdbcType="CHAR" property="currentStatus" />
    <result column="PART_REASON" jdbcType="CHAR" property="partReason" />
    <result column="LINK_ID" jdbcType="VARCHAR" property="linkId" />
    <result column="SYS_OPERID" jdbcType="VARCHAR" property="sysOperid" />
    <result column="PLAN_ID" jdbcType="VARCHAR" property="planId" />
    <result column="CUST_ID" jdbcType="BIGINT" property="custId" />
  </resultMap>
</mapper>