<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eshequ.msa.finance.custom.mapper.MsaBaseAcctInfoMapper">
  <resultMap id="BaseResultMap" type="com.eshequ.msa.finance.model.MsaBaseAcctInfo">
    <id column="ID" jdbcType="CHAR" property="id" />
    <result column="LIQUIDATION_CYCLE" jdbcType="DECIMAL" property="liquidationCycle" />
    <result column="ENTITY_NAME" jdbcType="VARCHAR" property="entityName" />
    <result column="BANK_NAME" jdbcType="VARCHAR" property="bankName" />
    <result column="ACCOUNT_NAME" jdbcType="VARCHAR" property="accountName" />
    <result column="ACCOUNT_NO" jdbcType="VARCHAR" property="accountNo" />
    <result column="CUST_NAME" jdbcType="VARCHAR" property="custName" />
    <result column="PROVINCE" jdbcType="VARCHAR" property="province" />
    <result column="PHONE" jdbcType="VARCHAR" property="phone" />
    <result column="CITY" jdbcType="VARCHAR" property="city" />
    <result column="STATUS" jdbcType="CHAR" property="status" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
  </resultMap>
</mapper>