<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eshequ.msa.finance.custom.mapper.MsaBaseCheckSumMapper">
  <resultMap id="BaseResultMap" type="com.eshequ.msa.finance.model.MsaBaseCheckSum">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="SHOULD_PAY_AMT" jdbcType="DECIMAL" property="shouldPayAmt" />
    <result column="SHOULD_DATE" jdbcType="CHAR" property="shouldDate" />
    <result column="ACCOUNT_AMT" jdbcType="DECIMAL" property="accountAmt" />
    <result column="ACCOUNT_DATE" jdbcType="CHAR" property="accountDate" />
    <result column="PAY_NUM" jdbcType="DECIMAL" property="payNum" />
    <result column="ACCOUNT_STATUS" jdbcType="CHAR" property="accountStatus" />
    <result column="ENTITY_ID" jdbcType="CHAR" property="entityId" />
    <result column="ENTITY_NAME" jdbcType="VARCHAR" property="entityName" />
    <result column="ACCOUNT_NO" jdbcType="VARCHAR" property="accountNo" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="MCH_ID" jdbcType="BIGINT" property="mchId" />
  </resultMap>
</mapper>