<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eshequ.msa.finance.custom.mapper.MsaRelateMchProductMapper">
  <resultMap id="BaseResultMap" type="com.eshequ.msa.finance.model.MsaRelateMchProduct">
    <id column="MCH_ID" jdbcType="BIGINT" property="mchId" />
    <id column="PRODUCT_ID" jdbcType="BIGINT" property="productId" />
  </resultMap>
</mapper>