<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eshequ.msa.finance.custom.mapper.MsaTradePayOrderMapper">
  <resultMap id="BaseResultMap" type="com.eshequ.msa.finance.model.MsaTradePayOrder">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="TRAN_STATUS" jdbcType="CHAR" property="tranStatus" />
    <result column="CONSULT_RATE" jdbcType="DECIMAL" property="consultRate" />
    <result column="CONSULT_AMT" jdbcType="DECIMAL" property="consultAmt" />
    <result column="TRAN_AMT" jdbcType="DECIMAL" property="tranAmt" />
    <result column="PAY_METHOD" jdbcType="CHAR" property="payMethod" />
    <result column="TRAN_DATE" jdbcType="CHAR" property="tranDate" />
    <result column="TRAN_TIME" jdbcType="CHAR" property="tranTime" />
    <result column="ACCT_DATE" jdbcType="CHAR" property="acctDate" />
    <result column="ACCT_TIME" jdbcType="CHAR" property="acctTime" />
    <result column="NEED_INVOICE" jdbcType="CHAR" property="needInvoice" />
    <result column="CSP_ID" jdbcType="BIGINT" property="cspId" />
    <result column="CSP_NAME" jdbcType="VARCHAR" property="cspName" />
    <result column="SECT_ID" jdbcType="BIGINT" property="sectId" />
    <result column="SECT_NAME" jdbcType="VARCHAR" property="sectName" />
    <result column="PLAT_CHANNEL" jdbcType="CHAR" property="platChannel" />
    <result column="CARD_TYPE" jdbcType="CHAR" property="cardType" />
    <result column="STAFF_NAME" jdbcType="VARCHAR" property="staffName" />
    <result column="OWNER_CONSULT_AMT" jdbcType="DECIMAL" property="ownerConsultAmt" />
    <result column="OUTSIDE_ORDER_ID" jdbcType="VARCHAR" property="outsideOrderId" />
    <result column="FROM_SYS" jdbcType="VARCHAR" property="fromSys" />
    <result column="ORDER_ATTACH" jdbcType="VARCHAR" property="orderAttach" />
    <result column="MCH_NO" jdbcType="VARCHAR" property="mchNo" />
    <result column="MCH_NAME" jdbcType="VARCHAR" property="mchName" />
    <result column="MCH_ABBRE" jdbcType="VARCHAR" property="mchAbbre" />
    <result column="SECRET" jdbcType="VARCHAR" property="secret" />
    <result column="APPID" jdbcType="VARCHAR" property="appid" />
    <result column="PAY_CHANNEL" jdbcType="CHAR" property="payChannel" />
  </resultMap>
</mapper>